body {
   background-image: url("https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}

h1 {
  color: #ffffe0;
  background-color: #B2AC88;
  font-size: 40px;
  padding-left: 180px;
  font-family: Arial, Helvetica, sans-serif;
}

h3, h2 {
  color: black;
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

h4, h5, h6 {
  margin-left: 144px
  font-family: Arial, Helvetica, sans-serif;
