body {
   background-image: url("https://c4.wallpaperflare.com/wallpaper/807/752/52/abstract-minimalistic-hexagons-textures-artwork-honeycomb-1920x1080-abstract-textures-hd-art-wallpaper-thumb.jpg");
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

.exp-header {
  color:white;
  
}

p {
  color: white;
}

h1 {
  color: #ffffe0;
  background-color: #DC143C;
  font-size: 40px;
 
}

.exp-header {
  color: black;
  background-color: white;

}

h2 {
  color: black;
  background-color: white;
  font-size: 22px;
 
}

h4, h5, h6 {
  color: white;
 
}

.titleone, .titletwo, .titlethree {
  color: gold; 
  font-size: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  
}

.img {
  width: 200px;
  vertical-align:middle;
}

.info1, .info2, .info3 {
  color: white;
  display: flex;
  justify-content: center;

}

.footer {
  color: red;
  
    
}











